@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$brand-primary: #df3f51;
$brand-success: #87c332;
$brand-info:    #2594c7;
$brand-warning: #FBB03B;
$brand-danger:  #D4145A;

$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;

.btn {
  min-width: 150px;
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.card {
  margin-bottom: 1em;
  h3 {
    display: inline;
  }
  .badge {
    float: right;
    margin-left: 0.5em;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss"
